.InitialHeader{
    background-color:darkslategray;
    color: bisque;
}

.Header{
    background-color: darkslategray;
    color: bisque;
    margin-bottom: 50px;
}

.InitialInitiativeDetail{
    margin: 20px;
}